body {
	background-color: #f0f0f0;
	margin: 0;
	font-size: 1.25rem;
}

header {
	background-image:
		linear-gradient(
			rgba(205, 220, 57, .5),
			rgba(205, 220, 57, .5)
		),
		linear-gradient(
			rgba(0, 0, 0, .8),
			rgba(0, 0, 0, .8)
		),
		url(green-bg.jpg);
	background-size: cover;
	overflow: auto; /* https://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing */
	color: #f0f0f0;
	font-size: 1.2rem;
}

h1, h2, h3, h4 {
	font-family: "Open Sans", Helvetica, sans-serif;
}
h1 {
  font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h1 {
	text-align: center;
	margin-top: 0;
}

body > * {
	padding: 3ch;
}

.label {
	display: flex;
	margin: 1rem 0;
	max-width: 1000px;
	min-width: 60vw;
}

.label > * {
	width: 50%;
}

article {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	background-color: white;
}

#cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(96, 125, 139);
	padding: 1rem;
}

.logo img {
	width: 100%;
}

.description {
	padding: 2.5rem;
}

.description h2 {
	margin-top: 0;
}

.fa-times {
	color: red;
}

.fa-check-square {
	color: green;
}

ul {
	list-style-type: none;
}

footer {
	background-color: #2E7D32;
	color: white;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

footer a {
	color: white;
}

h2 a {
	color: inherit;
	text-decoration: inherit;
}
